<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="gen.css">
   <style>
       body{
           background-color: rgba(49,51,48,0.50);
       }
      .button{
    background-color: rgba(49,51,48,0.50);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
   position: absolute;
     top: 150px;
    left:575px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    animation-name: fade;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}
.old{
    text-align: center;
    position: absolute;
     top: 125px;
    left:575px;
    font-size: 16px;
}
@keyframes fade{ 
0% { 
opacity: 0; 
} 
100% { 
opacity: 1; 
} 
}
.hov:hover{
     background-color: #FD6A02;
}
.message{
    width:180px;
    color: brown;
}

.tab {
  overflow: hidden;
  width:100%;
  background-color: rgba(49,51,48,0.50);
  
}

/* Style the buttons inside the tab */
 button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #FD6A02;
}

.tablinks{
    
}

.center{
    background-color:rgba(255,255,255,0.5);
    float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width:300px;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
    position: absolute;
     top: 125px;
    left:550px;
    border-radius: 2.5%;
    
}

   </style>
</head>
<body>
    <div class="tab">
        <button class="tablinks" onclick="window.location.href='{{home}}'";>Home</button>
  <button class="tablinks" onclick="window.location.href='{{events}}'";>My Events</button>
  <button class="tablinks" onclick="window.location.href='{{id}}'";>logout</button>
</div>
<br>


  <div class="center">
  <br>
   <div id="event">{{event.host}}
   <br>
   Invites you to <br>
   <h2>{{event.name}}</h2><br>
   on {{event.date}} <br>
   at {{event.place}}
<br><br>
   Guests: {{guest}}
   <br>
   </div>
   <br>
  </div>
</body>
</html>